$containerWidth : 1400px;
$gutter : 2%;

// ---- [ Grid System ] ---- //
@mixin column($numPerRow, $margin : $gutter) {
  $halfMargin : ($margin / 2);
  $newWidth : ((100% - ( $numPerRow * $margin ) ) / $numPerRow);
  width         : ( $newWidth / 100% ) * 100%;
  margin        : 0 $halfMargin;
  margin-bottom : $halfMargin;
}

.container{
  margin-left  : auto;
  margin-right : auto;
  width        : $containerWidth;
  position     : relative;
  text-align   : center;
}

.col{
  display : inline;
  float   : left;
}

.alpha{ margin-left : 0 !important; }
.omega{ margin-right : 0 !important; }

.full{ width : 100%; }
.col_one{ @include column(1); }
.col_half{ @include column(2); }
.col_two_thirds{ @include column(1.5); }
.col_one_third{ @include column(3); }
.col_one_fourth{ @include column(4); }
.col_three_fourths{ @include column(1.335); }
.col_one_fifth{ @include column(5); }
.col_two_fifths{ @include column(2.5); }
.col_three_fifths{ @include column(1.67); }
.col_one_sixth{ @include column(6); }

@media only screen and (max-width : 1400px) {
  $containerWidth : 1000px;
  .container{ width : $containerWidth; }
}

@media only screen and (max-width : 1024px) {
  $containerWidth : 960px;
  .container{ width : $containerWidth; }
}

@media only screen and (max-width : 980px) {
  $containerWidth : 760px;
  $gutter : 15px;
  .container{ width : $containerWidth; }
}

@media only screen and (max-width : 760px) {
  $containerWidth : 480px;
  $gutter : 2%;
  .container{ width : $containerWidth; }

  .full,
  .col_one,
  .col_half,
  .col_two_thirds,
  .col_one_third,
  .col_one_fourth,
  .col_three_fourths,
  .col_one_fifth,
  .col_two_fifths,
  .col_three_fifths,
  .col_one_sixth{ @include column(1); }
}

@media only screen and (max-width : 480px) {
  $containerWidth : 320px;
  .container{ width : $containerWidth; }
}